<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.ghui.v2er">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />

    <application
        android:name="me.ghui.v2er.general.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.ghui.v2er.module.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.general.OiaActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                //1. node
                <data
                    android:host="@string/www_host"
                    android:pathPrefix="@string/node_url_prefix"
                    android:scheme="@string/scheme_https" />
                //2. member
                <data
                    android:host="@string/www_host"
                    android:pathPrefix="@string/member_url_prefix"
                    android:scheme="@string/scheme_https" />
                //3. topic
                <data
                    android:host="@string/www_host"
                    android:pathPrefix="@string/topic_url_prefix"
                    android:scheme="@string/scheme_https" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.ghui.v2er.module.home.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.drawer.dailyhot.DailyHotActivity"
            android:label="今日最热"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.topic.TopicActivity"
            android:label="话题"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="me.ghui.v2er.module.login.LoginActivity"
            android:label="登录V2EX"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.user.UserHomeActivity"
            android:label="主页"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.drawer.care.SpecialCareActivity"
            android:label="特别关注"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.drawer.star.StarActivity"
            android:label="收藏"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.node.NodeTopicActivity"
            android:label="节点"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.settings.SettingActivity"
            android:label="设置"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.ghui.v2er.module.create.CreateTopicActivity"
            android:label="创作新主题"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="me.ghui.v2er.module.imgviewer.ImageViewer" />
    </application>

</manifest>