h1 {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0 15px 0;
    padding: 0;
    word-break: break-word
}

h2 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0 15px 0;
    padding: 0 0 8px 0;
    border-bottom: 0.5px solid #f4f2f2;
    word-break: break-word
}



h3 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0 15px 0;
    padding: 0;
    word-break: break-word
}

h4 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0 15px 0;
    padding: 0;
    word-break: break-word
}

h5 {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0 15px 0;
    padding: 0;
    word-break: break-word
}

h6 {
    color: #000;
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0 15px 0;
    padding: 0;
    word-break: break-word
}
.dark h1 {
    color: #7F8080
}

.dark h2 {
    border-bottom: 0.5px solid #202020;
    color: #7F8080
}

.dark h3 {
    color: #7F8080
}

.dark h4 {
    color: #7F8080
}
.dark h5 {
    color: #7F8080
}
.dark h6 {
    color: #7F8080
}
