html, body, div, p {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

body {
    background:transparent;
}

a {
    color:#778087
}

img{
    display: inline;
    height: auto;
    max-width: 100%;
    alt: "loading"
}

.topic_content{
    color:#555555;
    word-wrap:break-word;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dark .topic_content{
    background:#111214;
    color:#7F8082;
}

div.subtle {
    border-bottom: 1px solid #f4f2f2;
    background-color: rgba(250, 250, 250, 0.5);
    border-left: 3px solid rgba(126, 126, 126, 0.5);
    padding: 5px;
    line-height: 120%;
    text-align: left;
}

.dark div.subtle {
    background-color: rgba(120, 120, 120, 0.5);
}

div.subtle span.fade {
    opacity: 0.8;
    color: #ccc;
    fontSize: 13px;
}

.embedded_video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 200px
}
