html, body, div, p {
    margin: 0;
    padding: 0;
}

body {
}

a {
    color:#778087
}

img{
    display: inline;
    height: auto;
    max-width: 100%;
    alt: "loading"
}

.topic_content{
    color:#555555;
    word-wrap:break-word
}

.dark .topic_content{
    background:#111214;
    color:#7F8082;
}
