html, body, div, p {
    margin: 0;
    padding: 0;
}
a {
    color:#778087
}
img{
    display: inline;
    height: auto;
    max-width: 100%;
    alt: "loading"
  }

.topic_content{
    font-size:14px;
    line-height:1.8;
    color:#555555;
    word-wrap:break-word
}


